{% load i18n %}
<form method="POST" id="resource_data_management_form" class="form-inline arches-form" role="form">

    <div class="right-inner arches-box-grey-border padding-10" id="crud" style="">
        <div class="form-load-mask"><i class="fa fa-spinner fa-spin"></i></div>
        <!-- Theme Title -->
        <div class="row">
            <div class="col-xs-12">
                
                <div class="headline margin-bottom-10 padding-left-10">
                    <h3 class="headline text-primary"><i class="fa {{form.icon}} text-primary"></i>{{form.name}}</h3>
                    {% block form_controls %}
                    <!-- Save/Discard Buttons for small, medium and large screens -->
                    <span class="pull-right margin-top-minus-10 hidden-xs">
                        <button type="button" class="cancel-edits btn btn-danger disabled"> 
                            <i class="fa fa-times"></i>&nbsp; {% trans 'Discard edits' %}
                        </button>
                        <button type="submit" class="save-edits btn btn-success disabled"> 
                            <i class="fa fa-check"></i>&nbsp; {% trans 'Save edits' %}
                        </button>
                    </span>

                    <!-- Save/Discard Buttons for xs screens -->
                    <span class="hidden-sm hidden-md hidden-lg">
                        </br>
                        <button type="button" class="cancel-edits btn btn-danger disabled"> 
                            <i class="fa fa-times"></i>&nbsp; {% trans 'Discard edits' %}
                        </button>
                        <button type="submit" class="save-edits btn btn-success disabled"> 
                            <i class="fa fa-check"></i>&nbsp; {% trans 'Save edits' %}
                        </button>
                    </span>
                    {% endblock form_controls %}
                </div>                
            </div>
        </div>
        <!-- Error records for selected group -->
        {% regroup errors by form_id as grouped_errors %} 
        {% for group in grouped_errors %}
            {% if form_id = group.grouper %}
                <div class="alert alert-warning">
                    <dl>
                        <h5 id="arches-subjects-form" class="section-headline-to-be-removed bold">{% trans "Validation errors found:" %}</h5>
                    <dl>
                    <dl>
	                    {% for error in group.list %}
                            <div>
			                    <i {% if error.type = 'error' %} 
				                      class = "fa fa-minus-circle color-red" title={% trans "Error" %}
                                   {% endif %} 
                                   {% if error.type = 'warning' %} 
				                      class = "fa fa-warning color-yellow" title={% trans "Warning" %}
                                   {% endif %}>
                                </i>
			                    <a href="{% url 'resource_manager' resourcetypeid error.form_id resourceid %}" 
                                   class="arches-CRUD-child arches-CRUD-edit" 
			                       title="{% trans 'Open related section' %}">
				                    <span class="bold">{{ error.data_group }}</span> - <span>{{ error.description }}</span>
                                </a>
                            </div>
                        {% endfor %}
                    </dl>
                </div>
            {% endif %}              
        {% endfor %}              
       
<div id="status-section">
    <!-- Modifications CRUD Form -->
    <div>
        <div >
            <div>
                
                <dl>
                    <!-- Title ==>
                    <dt>
                        <h5 id="arches-subjects-form" class="section-headline-to-be-removed">{% trans "Status" %}</h5>
                    </dt>

                    <!== Form -->
                    <dd>
                        <div>
                            <div>
                                <input style="width:50%; height: 36px; padding-top: 2px;" class="select2 arches-select2-crud-form resource-type hidden-xs hidden" id="keyword-dropdown" placeholder="{% trans 'Status' %}" data-bind="select2: {value: getEditedNode('EW_STATUS.E55', 'value'), dataKey: 'EW_STATUS.E55'}"></input>

                            </div>
                        </div>
                    </dd>
                    <!-- End Form -->
                    <div class="alert alert-danger branch-invalid-alert" role="alert" style="display:none;">{% trans "The status must be populated." %}</div>
                </dl>

            </div>
        </div>
    </div>
    <!-- End Subjet CRUD -->

</div>	

<div id="group-section">
    <!-- Modifications CRUD Form -->
    <div>
        <div >
            <div>
                
                <dl>
                    <!-- Title ==>
                    <dt>
                        <h5 id="arches-subjects-form" class="section-headline-to-be-removed">{% trans "Status" %}</h5>
                    </dt>

                    <!== Form -->
                    <dd>
                        <div>
                            <div>
                                <input class="form-control arches-form-input hidden" id="resource-group" style="width: 50%;" placeholder='{% trans "Group" %}' data-bind='value: getEditedNode("EW_GROUP.E62", "value")'>                                    
 
                            </div>
                        </div>
                    </dd>
                </dl>

            </div>
        </div>
    </div>
    <!-- End Subjet CRUD -->

</div>	
       
       
        {% block form_content %}
        {% endblock form_content %}

        <input id="formdata" name="formdata" type="hidden" value="{{formdata}}"/>
        <input type="hidden" id="user_can_edit_document" value="{{user_can_edit_document}}"/>
    </div>
</form>
