{% load staticfiles %}
{% load i18n %}
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-2">                     
                <a target="_blank" href="http://www.archesproject.org">
                    <img class="arhces-logo" style="margin-top: -3px;height: 40px;" id="logo-footer" src="{{ STATIC_URL }}img/ArchesLOGO_wwhtag.png" alt=""></img>
                </a>
            </div>
            <div class="col-xs-6 col-sm-9 col-md-10 col-lg-8">                     
                <p>
                    Early Watercraft (v1.0) is powered by Arches (v3.0), an open-source, web-based, geospatial information system for cultural heritage inventory and management.
                    <a href="http://www.archesproject.org">Arches Community</a>
                    Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
                </p>
            </div>
        </div>
    </div> 
</div>
