{% load staticfiles %}
{% load i18n %}
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 md-margin-bottom-40">
                <!-- About -->
                <div class="headline"><h2>Faculty of Computer and Information Science</h2></div>  
                <address class="md-margin-bottom-40">
                    Večna pot 113, 1000 LJUBLJANA <br />
                    <a href="http://www.fri.uni-lj.si/en/laboratories/cvl/" target="_blank">Computer Vision Laboratory (http://www.fri.uni-lj.si/en/laboratories/cvl/)</a>
                </address>                         
                <!-- End Monthly Newsletter -->
            </div><!--/col-md-4-->  

            <div class="col-md-6">
                <!-- Contact Us -->
                <div class="headline"><h2>Institute for the Protection of Cultural Heritage of Slovenia</h2></div> 
                <address class="md-margin-bottom-40">
                    Poljanska 40, 1000 LJUBLJANA <br />
                    <a href="http://www.zvkds.si/en/ipchs/ipchs/about-ipchs/" target="_blank">IPCHS (http://www.zvkds.si/en/ipchs/ipchs/about-ipchs/)</a>
                </address>
                <!-- End Contact Us -->
            </div><!--/col-md-4-->
        </div>
    </div> 
</div> 
